* {font-family: Arial, Helvetica, sans-serif;

}
p {text-align: justify;
    background-color: #F39F5A;
    border-radius: 9%;
    padding: 5%;
    font-family: 'Allura', cursive;
    font-size: large;
}

h1{color: #AE445A;}
h3{color: #c41437; font-family: 'Croissant One', cursive;
}

body{
    background-image: linear-gradient(to top, #451952,#662549,#AE445A);
}
main{
    background-color: white;
    width: 70%;
    text-align: center;
    padding: 3%;
    margin: auto;
    box-shadow: 0px 0px 20px pink;
    border-radius: 1%;
}